body {
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 50px;
  margin-right: 50px;
}

body.index {
  display: grid;
  grid-template-rows: fit-content 100px fit-content 4fr 2fr;
}

.logo {
  grid-row: 1/2;
  width: 40vw;
  height: 20vw;
  justify-self: center;
}

header.index {
  background-color: rgba(64, 64, 64, 0.75);
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#title {
  grid-column: 2/3;
  text-align: center;
  text-decoration: underline;
  margin: 50px;
  font-family: "Quantico", "Changa", "Noto Sans", sans-serif;
}

/* nav styling */

nav {
  background-color: rgba(64, 64, 64, 0.75);
  grid-row: 3/4;
  display: flex;
  font-size: 25px;
  font-family: "Quantico", "Changa", "Noto Sans", sans-serif;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  height: fit-content;
}

/* Link color and text decoration */
a {
  text-decoration: none;
  color: rgba(240, 255, 255);
}

/* Animations on hover over nav links */
a:hover {
  color: orange;
  transition: ease-in-out 0.3s;
}

/* Dropdown Button */
.dropbtn {
  border: none;
  background-color: rgba(64, 64, 64, 0);
  color: #f1f1f1;
  font-size: 25px;
}

/* Animation on hover over button */
.dropbtn:hover {
  color: orange;
  transition: ease-in-out 0.3s;
}

/* Positioning the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000bd;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Animation on hover over links  */
.dropdown-content a:hover {
  color: orange;
  transition: ease-in-out 0.3s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /* background-color: #ddd; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling for weapons.html */

.index main {
  background-color: rgba(64, 64, 64, 0.75);
  grid-row: 4/5;
  color: #f1f1f1;
  padding: 20px;
}

.weapons main {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 200px);
}

header.weapons {
  height: 100px;
}

.weapon {
  margin: 5px;
  border: 1px solid black;
}

/* Styling for tutorials.html */

body.tutorial {
  display: grid;
  grid-template-rows: fit-content 100px fit-content 4fr 2fr;
}

/* Styling for liveStreams.html */

body.liveStream {
  display: grid;
  grid-template-rows: fit-content 100px fit-content 4fr 2fr;
}

main.liveStream {
  grid-row: 4/5;
  background-color: rgba(64, 64, 64, 0.75);
  justify-content: center;
}

#twitch-embed {
  border: 3px solid white;
  justify-self: center;
  background-color: rgba(64, 64, 64, 0.75);
}
